---
import "../styles/global.scss";
import AnimatedDragon from "../components/AnimatedDragon.astro";
const logoURL = `${import.meta.env.BASE_URL}img/logo.svg`;

// Base domain URL without trailing slash
const domainBaseURL = "https://alessandrolamartina.github.io";

const ogImageUrl = `${Astro.site}${import.meta.env.BASE_URL.slice(1)}img/meta.png`;
// Website publisher & region
const authorPublisher = "Alessandro La Martina.";
const geoRegion = "IT-TO";

// SEO title, description and keywords
const seoTitle = "Alessandro La Martina | Full-Stack .NET Developer";
const seoDescription =
    "Sviluppatore software specializzato in C# e .NET, con un approccio interdisciplinare che unisce pensiero analitico e scrittura creativa. Esplora il mio portfolio per scoprire progetti che fondono codice robusto e design intuitivo.";
const seoKeywords =
    "Alessandro La Martina, Full Stack Developer, C#, .NET, Angular, TypeScript, Torino, Sviluppatore, Portfolio";

// Open graph data
const openGraph = {
    title: seoTitle,
    description: seoDescription,
    url: domainBaseURL,
    image: ogImageUrl,
    type: "website",
    locale: "it_IT",
    siteName: "lama|dev|alessandro",
};

// Dublin core
const dublinCore = {
    title: "lama|dev|alessandro",
    creator: authorPublisher,
    publisher: authorPublisher,
    rights: authorPublisher,
    description: seoDescription,
    language: "IT",
    type: "Software",
    format: "text/html",
};
---

<!doctype html>
<html lang="en" class="bg-black text-gray-100 font-mono">
    <head>
        <!-- Crawler & Robots -->
        <meta
            name="robots"
            content="index, follow, noodp, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
        />
        <meta name="revisit-after" content="7 days" />
        <meta name="revisit" content="after 7 days" />

        <!-- Start: Meta-Tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Pragma" content="cache" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- End: Meta-Tags -->

        <!-- Start: DNS prefetch and preconnect -->
        <!-- <link rel="preload" as="image" href="/img/logo.svg" /> -->
        <link rel="preconnect" href="https://brain.papersend.io" />
        <!-- End: DNS prefetch and preconnect -->

        <!-- Start: Theming and Favicons -->
        <link
            rel="icon"
            type="image/svg+xml"
            crossorigin="anonymous"
            href={logoURL}
        />
        <!-- <link rel="alternate icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="alternate icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/img/favicon/site.webmanifest"> -->
        <!-- End: Theming and Favicons -->

        <!-- Start: Misc meta tags -->
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="canonical" href={Astro.url} />

        <meta name="geo.region" content={geoRegion} />
        <meta name="author" content={authorPublisher} />
        <meta name="publisher" content={authorPublisher} />
        <meta name="copyright" content={authorPublisher} />
        <!-- End: Misc meta tags -->

        <!-- Start: Facebook open graph -->
        <meta property="og:title" content={openGraph.title} />
        <meta property="og:description" content={openGraph.description} />
        <meta property="og:url" content={openGraph.url} />
        <meta property="og:type" content={openGraph.type} />
        <meta property="og:image" content={openGraph.image} />
        <meta property="og:locale" content={openGraph.locale} />
        <meta property="og:site_name" content={openGraph.siteName} />
        <!-- End: Facebook open graph -->

        <!-- Start: Dublin Core (DC) -->
        <meta name="DC.Title" content={dublinCore.title} />
        <meta name="DC.Creator" content={dublinCore.creator} />
        <meta name="DC.Rights" content={dublinCore.rights} />
        <meta name="DC.Publisher" content={dublinCore.publisher} />
        <meta name="DC.Description" content={dublinCore.description} />
        <meta name="DC.Language" content={dublinCore.language} />
        <meta name="DC.Type" content={dublinCore.type} />
        <meta name="DC.Format" content={dublinCore.format} />
        <!-- End: Dublin Core (DC) -->

        <!-- Title & Description -->
        <title>{seoTitle}</title>
        <meta name="description" content={seoDescription} />
        <meta name="abstract" content={seoDescription} />
        <meta name="keywords" content={seoKeywords} />
    </head>

    <body class="min-h-[100vh] flex items-center justify-center p-4">
        <slot />
        <AnimatedDragon />
    </body>
</html>
